<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>cht</key>
		<string>[/流汗]</string>
		<key>png</key>
		<string>face09</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/钱]</string>
		<key>png</key>
		<string>face16</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/发怒]</string>
		<key>png</key>
		<string>face03</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/流汗]</string>
		<key>png</key>
		<string>face09</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/浮云]</string>
		<key>png</key>
		<string>face20</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/给力]</string>
		<key>png</key>
		<string>face05</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/大哭]</string>
		<key>png</key>
		<string>face13</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/奋斗]</string>
		<key>png</key>
		<string>face01</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/憨笑]</string>
		<key>png</key>
		<string>face06</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/色]</string>
		<key>png</key>
		<string>face04</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/奋斗]</string>
		<key>png</key>
		<string>face01</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/鼓掌]</string>
		<key>png</key>
		<string>face02</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/鄙视]</string>
		<key>png</key>
		<string>face15</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/可爱]</string>
		<key>png</key>
		<string>face07</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/闭嘴]</string>
		<key>png</key>
		<string>face17</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/疑问]</string>
		<key>png</key>
		<string>face14</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/抓狂]</string>
		<key>png</key>
		<string>face08</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/惊讶]</string>
		<key>png</key>
		<string>face19</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/可怜]</string>
		<key>png</key>
		<string>face18</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/弱]</string>
		<key>png</key>
		<string>face11</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/强]</string>
		<key>png</key>
		<string>face10</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/握手]</string>
		<key>png</key>
		<string>face22</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/拳头]</string>
		<key>png</key>
		<string>face23</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/酒]</string>
		<key>png</key>
		<string>face24</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/玫瑰]</string>
		<key>png</key>
		<string>face12</string>
	</dict>
	<dict>
		<key>cht</key>
		<string>[/打酱油]</string>
		<key>png</key>
		<string>face21</string>
	</dict>
</array>
</plist>
